<div class="service-header">
            <a href="/" class="service-name"><%= "#{config_item(:proposition_title)}" %></a>
            <% if config_item(:phase) != :live %><a href="https://www.gov.uk/service-manual/phases/<%= "#{config_item(:phase).to_s.downcase}" %>.html" class="service-phase <%= "#{config_item(:phase).to_s.downcase}" %>"><%= "#{config_item(:phase).to_s.upcase}" %></a><% end %>
          </div>
          <%= yield :inside_header %>